@import "tailwindcss";

@theme {
  --font-sans: "reglapro", sans-serif;
}

body, html, button, input, select, textarea {
  font-family: "reglapro", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
